.create-channel-form {
    display: flex;
    flex-direction: column;
    margin: 50px 30%;
}

.create-channel-form label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.create-channel-form input {
    border: 0;
    border-bottom: solid darkorchid 2px;
    background-color: #eee;
    padding: 4px;
    height: 20px;
}

.create-channel-form input:focus {
    outline: none;
}

.create-channel-form button {
    border: none;
    border-radius: 2px;
    background-color: darkorchid;
    color: white;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.create-channel-form button:hover {
    cursor: pointer;
}
