.channel-container {
    margin: 0 10px;
    padding: 10px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    border: 1px solid #b700ff;
    border-radius: 4px;
}

.channel-container > small {
    margin: 10px 0;
}
