.login-form {
    display: flex;
    flex-direction: column;
    margin: 50px 30%;
}

.login-form label {
    display: flex;
    flex-direction: column;
}

.login-form input {
    border: 0;
    border-bottom: solid darkorchid 2px;
    background-color: #eee;
    padding: 4px;
    height: 20px;
}

.login-form input:focus {
    outline: none;
}

.login-form button {
    border: none;
    border-radius: 2px;
    background-color: darkorchid;
    color: white;
    height: 30px;
    margin-top: 10px;
}

.login-form button:hover {
    cursor: pointer;
}
