.channels-bar {
    border-right: solid #eee;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 1;
}

.channels-list {
    list-style: none;
    padding: 0;
}

.channel-selected {
    background-color: #ddd;
}
