.channels-bar {
    border-right: solid #eee;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 1;
}

.channels-list {
    list-style: none;
    padding: 0;
}

.channels-list li {
    border-bottom: solid #999;
    border-width: 1px;
    margin: 0;
}

.channels-list li:hover {
    background-color: #eee;
}

.channel-selected {
    background-color: #ddd;
}
